<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录 / 注册</title>
</head>
<link rel="stylesheet" href="../css/sign.css" >
<body background="images/bg1.jpg">
<div class="container right-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
        <form method="post" th:action="@{/user/signUp}"  class="form" id="form1">

            <h2 class="form__title">Sign Up</h2>
            <input type="text" name="name" placeholder="name" class="input" />
            <input type="password" name="pwd" placeholder="Password" class="input" />
            <input type="password" name="pwd2" placeholder="Password" class="input" />
            <input type="hidden" name="roles" class="input" />
<!--            <p th:text="${error}"></p>-->
            <button type="submit" class="btn">Sign Up</button>
        </form>
    </div>
    <!-- Sign In -->
    <div class="container__form container--signin">
        <form th:action="@{/userLogin}" th:method="post" class="form form-signin" id="form2">
            <h2 class="form__title">Sign In</h2>
            <div th:if="${param.error}" style="color: darkred;height: 20px;text-align: left;font-size: 1.1em">
                <span>登录失败</span>
            </div>
            <input type="text" name="username" placeholder="name" class="input" />
            <input type="password"name="password" placeholder="Password" class="input" />
            <input type="hidden"name="role" placeholder="Password" class="input" />
            <a href="#" class="link">Forgot your password?</a>
            <button type="submit" class="btn">Sign In</button>
        </form>
    </div>
    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">Sign In</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script>
    const signInBtn = document.getElementById("signIn");
    const signUpBtn = document.getElementById("signUp");
    const fistForm = document.getElementById("form1");
    const secondForm = document.getElementById("form2");
    const container = document.querySelector(".container");

    signInBtn.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
    });

    signUpBtn.addEventListener("click", () => {
        container.classList.add("right-panel-active");
    });
    // fistForm.addEventListener("submit", (e) => e.preventDefault());
    // secondForm.addEventListener("submit", (e) => e.preventDefault());

</script>
</body>

</html>
